@page
@model StaffModel
@{
    ViewData["Title"] = "Home page";
}

<h6 class="display-6 title-3">Menu</h6>

  <div class="management_menu">
    <div class="menu_buttons">
     <a asp-asp-area=""asp-area="" asp-page="Customers/Index">  
    <button >Customers</button></a> 
    <a asp-asp-area=""asp-area="" asp-page="Quotations/Index">
    <button>Quotations</button></a>
        <a asp-asp-area=""asp-area="" asp-page="Invoices/Index">
    <button>Invoices</button></a>
        <a asp-asp-area=""asp-area="" asp-page="Services/Index">
    <button>Services</button></a>
        <a asp-asp-area=""asp-area="" asp-page="Invoices/Oustanding">
    <button>Outstanding</button></a>
            <a asp-asp-area=""asp-area="" asp-page="Requests/Index">
    <button>Requests</button></a>
    </div>