@page
@model CustomerModel
@{
    ViewData["Title"] = "Home page";
}

<h6 class="display-6 title-2">Menu</h6>

  <div class="management_menu">
    <div class="menu_buttons btn-style-2">
     <a asp-asp-area=""asp-area="" asp-page="Create">  
    <button >Request Quotation</button></a> 
    <a asp-asp-area=""asp-area="" asp-page="Requests">
    <button>View Quotations</button></a>
        <a asp-asp-area=""asp-area="" asp-page="Invoices">
    <button>View Invoices</button></a>
    </div>